:root {
  --background: #1b1b1b;
  --foreground: #dddfdf;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-manrope), sans-serif;
  font-size: 16px;
  line-height: 200%; /* 32px */
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p {
  font-family: var(--font-manrope), sans-serif;
  font-size: 16px;
  line-height: 200%; /* 32px */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-playfair), serif;
  font-weight: 400;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* ---------------------
  Typography Utilities
--------------------- */

.title-1 {
  font-size: 208px;
  line-height: 100%; /* 291.2px */
  text-transform: uppercase;
  letter-spacing: 6.24px;
}

.title-2 {
  font-size: 64px;
  line-height: 100%; /* 89.6px */
  letter-spacing: 1.92px;
  text-transform: uppercase;
}

.title-3 {
  font-size: 48px;
  line-height: normal;
}

.title-4 {
  font-size: 32px;
  line-height: 140%; /* 44.8px */
  letter-spacing: 0.96px;
}

.title-5 {
  font-size: 24px;
  line-height: 150%; /* 36px */
}
.text-1 {
  font-size: 24px;
  font-weight: 400;
  line-height: 200%; /* 48px */
}
.big-text {
  font-family: var(--font-manrope), sans-serif;
  font-size: 56px;
  line-height: 139.523%; /* 78.133px */
}
.blog-form button.btn,
.nav-links a.btn-sm,
.btn a,
input[type="button"],
.btn button {
  font-family: var(--font-playfair), serif;
  cursor: pointer !important;
  font-size: 14px !important;
  line-height: 18px;
  padding: 12px 24px;
  border-radius: 8px;
  text-transform: capitalize;
  background-color: var(--foreground);
  border: 1px solid var(--foreground) !important;
  color: var(--background);
  transition: all 0.3s ease-in-out;
}
.blog-form button.btn:hover,
.nav-links a.btn-sm:hover,
.btn a:hover,
input[type="button"]:hover,
.btn button:hover {
  background-color: transparent;
  color: var(--foreground);
  border: 1px solid var(--foreground);
}

.uppercase {
  text-transform: uppercase;
}

img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 20px;
}
.container-fluid {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 20px;
}
.container-full-width {
  max-width: 1920px;
  margin: 0 auto;
}
.center {
  text-align: center;
}
/* ---------------------
  Hero Section
--------------------- */

section.hero {
  position: relative;
  align-items: center;
  padding-top: 100px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

section.hero .container {
  z-index: 9;
  position: relative;
}
section.hero .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
section.hero .hero-bottom {
  padding: 40px 0;
}
section.hero .container-fluid {
  z-index: 2;
}
section.hero .center {
  padding-top: 100px;
  padding-bottom: 100px;
}
section.hero .grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}
section.hero .grid .title-5 {
  margin-bottom: 20px;
}
/* -- Hero1 -- */
section.hero .grid2 {
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  display: grid;
  align-items: center;
}
/* ---------------------
  Our Services
--------------------- */

section.our-services .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}
section.our-services .grid .icon {
  text-align: right;
  margin-bottom: -10px;
}

section.our-services h2.title-5 {
  margin-bottom: 20px;
}

section.our-services .grid .s-ion {
  margin-bottom: 10px;
}

section.our-services .title-4 {
  margin-bottom: 50px;
}

section.our-services {
  padding-top: 100px;
  padding-bottom: 100px;
}

/* ---------------------
    Gallery
--------------------- */
section.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
  padding-top: 100px;
  padding-bottom: 100px;
}

section.gallery .gallery-item {
  overflow: hidden;
  border-radius: 10px;
}

section.gallery .gallery-item img {
  object-fit: cover;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  display: block;
  border: 4px solid #dddfdf;
}

/* Following your grid-area manual positioning */
section.gallery .gallery-item.item-1 {
  grid-area: 1 / 1 / 2 / 3;
}

section.gallery .gallery-item.item-2 {
  grid-area: 2 / 1 / 3 / 2;
}

section.gallery .gallery-item.item-3 {
  grid-area: 2 / 2 / 3 / 3;
}

section.gallery .gallery-item.item-4 {
  grid-area: 1 / 3 / 3 / 4;
}

section.gallery .gallery-item.item-5 {
  grid-area: 1 / 4 / 2 / 5;
}

section.gallery .gallery-item.item-6 {
  grid-area: 2 / 4 / 3 / 5;
}

/* ---------------------
    About
--------------------- */
section.about {
  margin-top: 100px;
  margin-bottom: 100px;
  position: relative;
}

section.about .flex-box {
  display: flex;
  gap: 40px;
  align-items: center;
}
section.about .flex-box .text-box {
  z-index: 9;
  width: 50%;
  position: relative;
}

section.about .flex-box .img-box.sm {
  width: 65%;
}
section.about .flex-box .img-box .img-position {
  flex-direction: row;
  gap: 20px;
  display: flex;
  justify-content: end;
  align-items: end;
}

section.about .flex-box .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-bottom: 30px;
  margin-top: 30px;
}
section.about .bottom-position {
  position: absolute;
  right: 0;
  top: 0;
}
section.about .bottom-position .container {
  padding: 0;
}

section.about .flex-box {
  min-height: 587px;
}

section.about .text-box h2.title-4 {
  margin-bottom: 20px;
}
.tab-content.sm1 {
  background: transparent;
  padding: 20px 0 0 0;
}

/* ---------------------
    contact 
--------------------- */
section.contact {
  padding-bottom: 100px;
}

section.contact .flex-box {
  display: flex;
  gap: 50px;
  align-items: center;
}

section.contact .flex-box .text-box {
  width: 50%;
}

section.contact .flex-box .form-box {
  width: 50%;
}
/* ---------------------
    Form 
--------------------- */
.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.form-group {
  position: relative;
  padding-top: 20px;
}

input,
textarea,
select {
  width: 100%;
  padding: 15px 0;
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--foreground);
  color: var(--foreground);
  font-size: 16px;
  outline: none;
}

textarea {
  min-height: 100px;
  resize: vertical;
}

label {
  position: absolute;
  top: 28px;
  left: 0;
  color: #aaa;
  font-size: 16px;
  pointer-events: none;
  transition: all 0.3s ease;
  transform-origin: left;
}

/* Input Focus অথবা Valid হলে Label উপরে উঠবে */
input:focus + label,
input:valid + label,
textarea:focus + label,
textarea:valid + label,
select:focus + label,
select:valid + label {
  transform: translateY(-30px) scale(0.85);
  color: #fff;
}

select {
  color: #fff;
}

.form-group select option {
  color: var(--background);
}

/* Full width for textarea */
.form-group.full-width {
  grid-column: 1 / 3;
}
label.contact-mode-label {
  position: relative;
  top: -10px;
}

.radio-group {
  display: flex;
  gap: 30px;
}

.radio-group label {
  position: relative;
  top: 0;
}

input[type="radio"] {
  width: auto;
  margin-right: 10px;
  position: relative;
  top: 1px;
}

/* ---------------------
    Contact Section 
--------------------- */
footer.footer .flex-box {
  display: flex;
  gap: 50px;
}

footer.footer .flex-box .box1 {
  width: 40%;
}

footer.footer .flex-box .box2 {
  width: 30%;
}

footer.footer .flex-box .box3 {
  width: 30%;
}

footer.footer .flex-box .box2 .foo-contact {
  flex-direction: column;
  display: flex;
}

footer.footer .flex-box .box2 .foo-contact .text-icon {
  display: flex;
  align-items: center;
  gap: 15px;
}

footer.footer .flex-box .box2 .foo-contact .text-icon img {
  width: 20px;
}

footer.footer .flex-box .box3 .social {
  display: flex;
  gap: 30px;
  align-items: center;
}
footer.footer .flex-box .box1 img,
footer.footer .title-5 {
  margin-bottom: 18px;
}

footer.footer .flex-box .box1 {
  width: 40%;
  padding-right: 50px;
}

footer.footer .copyright {
  border-top: 1px solid #fff;
  padding-top: 25px;
  padding-bottom: 25px;
}

footer.footer .copyright p {
  text-align: center;
  font-size: 14px;
}

footer.footer {
  padding-top: 100px;
}
footer.footer .container.foo {
  padding-bottom: 60px;
}

/* ----------------------------
    Recent Projects component
------------------------------- */

section.recent-projects-sec h2.title-4.uppercase.center {
  padding-top: 100px;
  padding-bottom: 50px;
}
.recent-projects {
  background-position: center;
  background-size: cover;
  transition: background-image 0.5s ease-in-out;
  position: relative;
  overflow: hidden;
  height: 80vh;
}

.recent-projects .container.sm {
  display: flex;
  height: 100%;
  align-items: center;
}
.recent-projects .project-titles li {
  cursor: pointer;
}

.recent-projects::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.recent-projects .overlay {
  position: relative;
  z-index: 2;
}

.recent-projects .project-titles {
  list-style: none;
  padding: 0;
  margin: 0;
}

.recent-projects .project-titles li {
  color: #aaa;
}
.recent-projects .project-titles li.active,
.recent-projects .project-titles li:hover {
  color: var(--foreground);
}

/* ----------------------------
   full image section 
------------------------------- */

/* ---------------------
    Header
--------------------- */
/* Base styles */
.main-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  transition: all 0.3s ease;
  background: transparent;
}
.main-header.scrolled {
  background: var(--background);
  /*backdrop-filter: blur(8px);*/
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}
.main-header.scrolled .header-inner {
  padding: 15px 0;
}
.main-header .header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}
.main-header .nav-links {
  display: flex;
  align-items: center;
  gap: 30px;
}

.main-header .nav-links a {
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
  cursor: pointer;
  font-family: var(--font-playfair), serif;
}

.main-header .nav-links a:hover {
  color: #ccc;
}

/* Mobile menu toggle */
.main-header .menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 26px;
  color: var(--foreground);
  cursor: pointer;
}

/* Mobile drawer */
.main-header .mobile-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 75%;
  max-width: 300px;
  height: 100%;
  background: var(--background);
  color: var(--foreground);
  padding: 40px 24px;
  transition: right 0.3s ease;
  z-index: 1000;
}

.main-header .mobile-menu.open {
  right: 0;
}

.main-header .mobile-menu .close-btn {
  position: absolute;
  top: 16px;
  right: 20px;
  font-size: 28px;
  background: none;
  color: white;
  border: none;
  cursor: pointer;
}

.main-header .mobile-menu nav {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 60px;
}

.main-header .mobile-menu nav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

/* ===== Overlay when menu open ===== */
.main-header .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(15, 15, 15, 0.6);
  z-index: 999;
  backdrop-filter: blur(2px);
}

/* Responsive */
@media (max-width: 768px) {
  .main-header .nav-links {
    display: none;
  }

  .main-header .menu-toggle {
    display: block;
  }
}

/* ---------------------
   slick Gallery
--------------------- */

.slick-gallery {
  padding: 60px 0;
}

.slick-gallery .slick-slide {
  padding: 0 5px; /* Each slide gap */
  box-sizing: border-box;
}

.slick-gallery .slide img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.slick-gallery .slick-center img {
  transform: scale(1.05);
  z-index: 2;
}

.slick-gallery .slick-slide.slick-current {
  transform: scale(1.1);
}

.slick-gallery .slick-slide {
  transform: scale(0.8);
}

/* ---------------------
   Contact 
--------------------- */
.contact-tab {
  background: var(--background);
  color: var(--foreground);
  font-family: "Manrope", sans-serif;
}

.tab-header {
  display: flex;
  border-bottom: 1px solid var(--foreground);
}

.tab-header button {
  flex: 1;
  padding: 16px 20px;
  background: none;
  color: var(--foreground);
  border: none;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  border-bottom: 3px solid transparent;
  transition: border-color 0.3s ease;
}

.tab-header button.active {
  border-bottom: 3px solid var(--foreground);
}

.tab-content {
  padding: 24px;
  background: #323232;
  font-size: 15px;
  line-height: 1.8;
  position: relative;
}

.tab-content-inner {
  animation: fadeSlide 0.4s ease;
}

@keyframes fadeSlide {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.tab-content-inner p {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 15px 0 0 0;
}

/* tab-box  */
.contact-tab {
  padding-top: 100px;
  padding-bottom: 100px;
}
.contact-tab .flex-wrap {
  display: flex;
  /*align-items: center;*/
  gap: 30px;
}
.contact-tab .flex-wrap .title-box {
  width: 50%;
}
.contact-tab .flex-wrap .tab-box {
  width: 50%;
}
.tab-box {
  width: 100%;
}
.contact-tab .flex-wrap .title-box h2.title-2 {
  text-transform: capitalize;
}

/* ---------------------
   Faq
--------------------- */
.faq-section {
  padding: 40px 0;
  margin: auto;
}

.faq-item {
  border-bottom: 1px solid #333;
  padding: 20px 0;
  overflow: hidden;
  transition: all 0.3s ease;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-playfair, serif);
  background: none;
  border: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  color: var(--foreground);
}

.faq-question .icon {
  font-size: 20px;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: all 0.4s ease;
}

.faq-answer p {
  margin: 0;
}

/* ---------------------
    Faq Tabs
--------------------- */
.faq-tabs {
  padding-top: 100px;
  padding-bottom: 100px;
}
.faq-tabs .flex-wrap {
  display: flex;
  gap: 50px;
}

.faq-tabs .flex-wrap .text-box {
  width: 50%;
  margin-top: 68px;
}

.faq-tabs .flex-wrap .tabsm-box {
  width: 50%;
}

/* ---------------------
    Latest Blogs
--------------------- */
.latest-blogs {
  padding-top: 100px;
  padding-bottom: 100px;
}

.latest-blogs .blog-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.latest-blogs .blog-grid .blog-card .blog-image {
  position: relative;
}

.latest-blogs .blog-grid .blog-card span.icon {
  position: absolute;
  right: 10px;
  top: 10px;
}

.latest-blogs .blog-grid .blog-card ul.blog-meta {
  /* list-style: none; */
  display: flex;
  gap: 30px;
  font-size: 12px;
  line-height: 22px;
  margin-left: 15px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.latest-blogs .blog-grid .blog-card .title-5 {
  margin-bottom: 10px;
}

.latest-blogs .title-4 {
  margin-bottom: 50px;
}

/* ---------------------
    Our Team
--------------------- */
.our-team {
  padding-top: 100px;
  padding-bottom: 100px;
}

.our-team .team-grid {
  grid-template-columns: repeat(3, 1fr);
  display: grid;
  column-gap: 40px;
  row-gap: 80px;
}

.our-team .title-4 {
  margin-bottom: 50px;
}
.our-team .team-role {
  font-family: var(--font-playfair, serif);
  margin: 10px 0px;
}

/* ---------------------
    Team Intro
--------------------- */
.team-intro {
  padding-top: 100px;
  padding-bottom: 100px;
}

.team-intro .intro-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  align-items: center;
}

.team-intro .intro-grid .intro-role {
  font-family: var(--font-playfair, serif);

  margin: 10px 0px;
}

/* ---------------------
    Property Grid
--------------------- */
.property-grid-section .property-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.property-grid-section .property-card {
  background: var(--background);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgb(75 75 75 / 53%);
  transition: transform 0.3s ease;
}

.property-grid-section .property-card:hover {
  transform: translateY(-5px);
}

.property-grid-section .image-wrapper {
  position: relative;
  width: 100%;
  height: auto;
}

.property-grid-section .property-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  /* border-top: 1px solid rgba(255, 255, 255, 0.05); */
}

.property-grid-section .property-info h4 {
  color: var(--foreground);
  font-size: 24px;
  letter-spacing: 1px;
  font-weight: 500;
  margin: 0;
}

.property-grid-section .details-btn {
  background-color: var(--foreground);
  color: var(--background);
  border: none;
  padding: 6px 14px;
  font-size: 14px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s ease;
}

.property-grid-section .details-btn:hover {
  background-color: var(--foreground);
}

.property-grid-section.property-grid-section .property-meta {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 20px;
  list-style: none;
  margin: 0;
  font-size: 14px;
  color: var(--foreground);
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.property-grid-section .property-meta li {
  display: flex;
  align-items: center;
  gap: 6px;
}

/* Arrows inside the slider (initially hidden) */
.property-grid-section .image-wrapper {
  position: relative;
}

.property-grid-section .image-wrapper:hover .custom-arrow {
  opacity: 1;
  visibility: visible;
}

.property-grid-section .custom-arrow {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9;
  /* font-size: 20px; */
  background: rgba(0, 0, 0, 0.5);
  color: var(--foreground);
  /* padding: 0; */
  /* border-radius: 50%; */
  cursor: pointer;
  transition: 0.3s ease;
  width: 60px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.property-grid-section .custom-prev {
  left: 0;
}

.property-grid-section .custom-next {
  right: 0;
}
/*------*/
.property-grid-section .property-filter-wrap {
  position: relative;
  margin-bottom: 30px;
  text-align: center;
}

.property-grid-section .top-filter {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 30px;
  margin: 20px 0;
  flex-wrap: wrap;
  background: var(--foreground);
  border-radius: 10px;
  max-width: 830px;
  margin: 0 auto;
  padding: 12px 20px;
}

.property-grid-section .top-filter select {
  padding: 0;
  border: none;
  font-size: 14px;
  color: var(--background);
  /* margin-bottom: -10px; */
}

.property-grid-section .category-filter {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  /* margin-bottom: 20px; */
}

.property-grid-section .category-filter button {
  background: none;
  border: 1px solid var(--foreground);
  color: var(--foreground);
  padding: 12px 20px;
  border-radius: 6px;
  cursor: pointer;
}

.property-grid-section .category-filter .active {
  background: var(--foreground);
  color: var(--background);
}

.property-grid-section .filter-sidebar {
  position: fixed;
  top: 0;
  right: -100%;
  width: 300px;
  height: 100vh;
  background: var(--background);
  color: var(--foreground);
  padding: 20px;
  transition: 0.3s ease;
  z-index: 999;
}

.property-grid-section .filter-sidebar.open {
  right: 0;
}

.property-grid-section .sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.property-grid-section .close-btn {
  background: none;
  border: none;
  font-size: 20px;
  color: var(--foreground);
  cursor: pointer;
}

.property-grid-section .sidebar-body select {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 6px;
  border: none;
}
.property-grid-section .filter-sidebar {
  position: fixed;
  top: 0;
  right: -100%;
  width: 300px;
  height: 100vh;
  background: var(--background);
  color: var(--foreground);
  padding: 20px;
  transition: 0.3s ease;
  z-index: 999;
}

.property-grid-section .filter-sidebar.open {
  right: 0;
}

.property-grid-section .top-filter .filter-group {
  width: 24%;
  color: var(--background);
}

.property-grid-section .top-filter button.search-btn {
  width: 69px;
  height: 60px;
  background: var(--background);
  color: var(--foreground);
  border: 0;
  border-radius: 10px;
}

.property-grid-section .carfilter-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}

.property-grid-section .top-filter .filter-group label {
  position: relative;
  top: 0;
  left: 4px;
  display: flex;
  color: var(--background);
  font-size: 12px;
  line-height: 15px;
}

.property-grid-section .top-filter .line {
  height: 60px;
  width: 1px;
  background: #c2c2c2;
}

.property-grid-section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.property-grid-section h2.title-4 {
  margin-bottom: 50px;
}

.property-grid-section .image-wrapper img {
  display: flex !important;
}
.property-grid-section .filter-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  z-index: 998;
}

/* ---------------------
Login
--------------------- */

.login-wrapper {
  background-color: var(--background);
  justify-content: center;
  align-items: center;
  padding: 2rem;
  display: flex;
  padding-top: 200px;
}
.login-box {
  background-color: #262626;
  padding: 2rem;
  border-radius: 12px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.login-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  text-align: center;
  color: var(--foreground);
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.login-input {
  padding: 0.75rem 1rem;
  border: 1px solid #444;
  border-radius: 6px;
  background-color: #1b1b1b;
  color: var(--foreground);
  font-size: 1rem;
}

.login-input::placeholder {
  color: #888;
}

.login-button {
  padding: 0.75rem 1rem;
  background-color: var(--foreground);
  color: var(--background);
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.login-button:hover {
  background-color: #ffffff;
}

.login-error {
  color: #ff6b6b;
  margin-top: 1rem;
  text-align: center;
}
.mobile-toggle-btn {
  display: none;
  position: fixed;
  top: 20px;
  left: 20px;
  background: #333;
  color: var(--foreground);
  border: none;
  padding: 10px;
  z-index: 1000;
  border-radius: 4px;
  font-size: 20px;
  cursor: pointer;
}

@media (max-width: 767px) {
  .mobile-toggle-btn {
    display: block;
  }
}

/* ---------------------

--------------------- */
