:root {
  --background: #1b1b1b;
  --foreground: #dddfdf;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-manrope), sans-serif;
  font-size: 16px;
  line-height: 200%; /* 32px */
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p {
  font-family: var(--font-manrope), sans-serif;
  font-size: 16px;
  line-height: 200%; /* 32px */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-playfair), serif;
  font-weight: 400;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* ---------------------
  Typography Utilities
--------------------- */

.title-1 {
  font-size: 208px;
  line-height: 100%; /* 291.2px */
  text-transform: uppercase;
  letter-spacing: 6.24px;
}

.title-2 {
  font-size: 64px;
  line-height: 100%; /* 89.6px */
  letter-spacing: 1.92px;
  text-transform: uppercase;
}

.title-3 {
  font-size: 48px;
  line-height: normal;
}

.title-4 {
  font-size: 32px;
  line-height: 140%; /* 44.8px */
  letter-spacing: 0.96px;
}

.title-5 {
  font-size: 24px;
  line-height: 150%; /* 36px */
}
.text-1 {
  font-size: 24px;
  font-weight: 400;
  line-height: 200%; /* 48px */
}
.big-text {
  font-family: var(--font-manrope), sans-serif;
  font-size: 56px;
  line-height: 139.523%; /* 78.133px */
}
.btn a,
input[type="button"],
.btn button {
  font-family: var(--font-playfair), serif;
  cursor: pointer !important;
  font-size: 14px;
  padding: 12px 24px;
  border-radius: 8px;
  text-transform: capitalize;
  border: 0;
  background-color: var(--foreground);
  border: 1px solid var(--foreground);
  color: var(--background);
  transition: all 0.3s ease-in-out;
}
.btn a:hover,
input[type="button"]:hover,
.btn button:hover {
  background-color: transparent;
  color: var(--foreground);
  border: 1px solid var(--foreground);
}

.uppercase {
  text-transform: uppercase;
}

img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 20px;
}
.container-fluid {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 20px;
}
.container-full-width {
  max-width: 1920px;
  margin: 0 auto;
}
.center {
  text-align: center;
}
/* ---------------------
  Hero Section
--------------------- */

section.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
  background-image: url("/images/hero.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
section.hero .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
section.hero .container-fluid {
  z-index: 2;
}
section.hero .center {
  padding-top: 100px;
  padding-bottom: 100px;
}
section.hero .grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}

/* ---------------------
  Our Services
--------------------- */

section.our-services .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}
section.our-services .grid .icon {
  text-align: right;
  margin-bottom: -10px;
}

section.our-services h2.title-5 {
  margin-bottom: 20px;
}

section.our-services .grid .s-ion {
  margin-bottom: 10px;
}

section.our-services .title-4 {
  margin-bottom: 50px;
}

section.our-services {
  padding-top: 100px;
  padding-bottom: 100px;
}

/* ---------------------
    Gallery
--------------------- */
section.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
}

section.gallery .gallery-item {
  overflow: hidden;
  border-radius: 10px;
}

section.gallery .gallery-item img {
  object-fit: cover;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  display: block;
  border: 4px solid #dddfdf;
}

/* Following your grid-area manual positioning */
section.gallery .gallery-item.item-1 {
  grid-area: 1 / 1 / 2 / 3;
}

section.gallery .gallery-item.item-2 {
  grid-area: 2 / 1 / 3 / 2;
}

section.gallery .gallery-item.item-3 {
  grid-area: 2 / 2 / 3 / 3;
}

section.gallery .gallery-item.item-4 {
  grid-area: 1 / 3 / 3 / 4;
}

section.gallery .gallery-item.item-5 {
  grid-area: 1 / 4 / 2 / 5;
}

section.gallery .gallery-item.item-6 {
  grid-area: 2 / 4 / 3 / 5;
}

/* ---------------------
    About
--------------------- */
section.about {
  padding-top: 00px;
  padding-bottom: 00px;
  position: relative;
}

section.about .flex-box {
  display: flex;
  gap: 40px;
  align-items: center;
}
section.about .flex-box .text-box {
  width: 50%;
}

section.about .flex-box .img-box.sm {
  width: 65%;
}
section.about .flex-box .img-box .img-position {
  flex-direction: row;
  gap: 20px;
  display: flex;
  justify-content: end;
  align-items: end;
}

section.about .flex-box .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
section.about .bottom-position {
  position: absolute;
  right: 0;
  top: 0;
}
section.about .bottom-position .container {
  padding: 0;
}
/* 
section.about .flex-box .img-box {
  right: 0;
  position: absolute;
  max-width: 700px;
} */
section.about .flex-box {
  height: 100vh;
}

/* ---------------------
    contact 
--------------------- */
section.contact {
  padding-bottom: 100px;
}

section.contact .flex-box {
  display: flex;
  gap: 50px;
  align-items: center;
}

section.contact .flex-box .text-box {
  width: 50%;
}

section.contact .flex-box .form-box {
  width: 50%;
}
/* ---------------------
    Form 
--------------------- */
.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  max-width: 800px;
  margin: 0 auto;
}

.form-group {
  position: relative;
  padding-top: 20px;
}

input,
textarea,
select {
  width: 100%;
  padding: 15px 0;
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--foreground);
  color: var(--foreground);
  font-size: 16px;
  outline: none;
}

textarea {
  min-height: 100px;
  resize: vertical;
}

label {
  position: absolute;
  top: 28px;
  left: 0;
  color: #aaa;
  font-size: 16px;
  pointer-events: none;
  transition: all 0.3s ease;
  transform-origin: left;
}

/* Input Focus অথবা Valid হলে Label উপরে উঠবে */
input:focus + label,
input:valid + label,
textarea:focus + label,
textarea:valid + label,
select:focus + label,
select:valid + label {
  transform: translateY(-30px) scale(0.85);
  color: #fff;
}

select {
  color: #fff;
}

.form-group select option {
  color: var(--background);
}

/* Full width for textarea */
.form-group.full-width {
  grid-column: 1 / 3;
}

/* ---------------------
    Contact Section 
--------------------- */
footer.footer .flex-box {
  display: flex;
  gap: 50px;
}

footer.footer .flex-box .box1 {
  width: 40%;
}

footer.footer .flex-box .box2 {
  width: 30%;
}

footer.footer .flex-box .box3 {
  width: 30%;
}

footer.footer .flex-box .box2 .foo-contact {
  flex-direction: column;
  display: flex;
}

footer.footer .flex-box .box2 .foo-contact .text-icon {
  display: flex;
  align-items: center;
  gap: 15px;
}

footer.footer .flex-box .box2 .foo-contact .text-icon img {
  width: 20px;
}

footer.footer .flex-box .box3 .social {
  display: flex;
  gap: 30px;
  align-items: center;
}
footer.footer .flex-box .box1 img,
footer.footer .title-5 {
  margin-bottom: 18px;
}

footer.footer .flex-box .box1 {
  width: 40%;
  padding-right: 50px;
}

footer.footer .copyright {
  border-top: 1px solid #fff;
  padding-top: 25px;
  padding-bottom: 25px;
}

footer.footer .copyright p {
  text-align: center;
  font-size: 14px;
}

footer.footer {
  padding-top: 100px;
}
footer.footer .container.foo {
  padding-bottom: 60px;
}
